<div class="bz-aside-action-menu bz-sharepoint">
    <a href="#collapse" class="bz-collapse bz-menu-link bz-active">
        <i class="bz-unique bz-unique-menu 24x24"></i>
        <span>Menú</span>
    </a>
    <a href="#collapse" class="bz-menu-link">
        <i class="bz-unique bz-unique-team 24x24"></i>
        <span>Team</span>
    </a>
    <a href="#collapse" class="bz-menu-link">
        <i class="bz-unique bz-unique-file 24x24"></i>
        <span>Documents</span>
    </a>
    <a href="#collapse" class="bz-menu-link">
        <i class="bz-unique bz-unique-one-note 24x24"></i>
        <span>One Note</span>
    </a>
    <a href="#collapse" class="bz-menu-link">
        <i class="bz-unique bz-unique-blog 24x24"></i>
        <span>Blog</span>
    </a>
    <a href="#collapse" class="bz-menu-link">
        <i class="bz-unique bz-unique-contact 24x24"></i>
        <span>Contact</span>
    </a>
    <a href="#collapse" class="bz-menu-link">
        <i class="bz-unique bz-unique-content 24x24"></i>
        <span>Site Contents</span>
    </a>
    <a href="#collapse" class="bz-menu-link">
        <i class="bz-unique bz-unique-star 24x24"></i>
        <span>My Subscriptions</span>
    </a>
</div>
