<div class="bz-card bz-blog-entries-module">
    <header>
        <h3>Blog Entries</h3>
    </header>
    <div class="bz-card-content clearfix">
        <div class="bz-be-mod-entry">
    <div class="media">
        <div class="media-left">
              <a href="#" class="bz-thumb thumbnail">
                  <img src="http://placehold.it/125x125">
              </a>
        </div>
        <div class="media-body">
            <h4 class="media-heading">Media heading</h4>
            <small>By Diana Soto | In Resources | 2 days ago</small>
            <p>If you are in the market for a computer, there are a number of factors to consider. Will it be used for your home, your office or perhaps even your home office combo? </p>
            <a href="#more">Read more »</a>
        </div>
    </div>
</div>

        <div class="bz-be-mod-entry">
    <div class="media">
        <div class="media-left">
              <a href="#" class="bz-thumb thumbnail">
                  <img src="http://placehold.it/125x125">
              </a>
        </div>
        <div class="media-body">
            <h4 class="media-heading">Media heading</h4>
            <small>By Diana Soto | In Resources | 2 days ago</small>
            <p>If you are in the market for a computer, there are a number of factors to consider. Will it be used for your home, your office or perhaps even your home office combo? </p>
            <a href="#more">Read more »</a>
        </div>
    </div>
</div>

        <div class="bz-be-mod-entry">
    <div class="media">
        <div class="media-left">
              <a href="#" class="bz-thumb thumbnail">
                  <img src="http://placehold.it/125x125">
              </a>
        </div>
        <div class="media-body">
            <h4 class="media-heading">Media heading</h4>
            <small>By Diana Soto | In Resources | 2 days ago</small>
            <p>If you are in the market for a computer, there are a number of factors to consider. Will it be used for your home, your office or perhaps even your home office combo? </p>
            <a href="#more">Read more »</a>
        </div>
    </div>
</div>

        <div class="bz-be-mod-entry">
    <div class="media">
        <div class="media-left">
              <a href="#" class="bz-thumb thumbnail">
                  <img src="http://placehold.it/125x125">
              </a>
        </div>
        <div class="media-body">
            <h4 class="media-heading">Media heading</h4>
            <small>By Diana Soto | In Resources | 2 days ago</small>
            <p>If you are in the market for a computer, there are a number of factors to consider. Will it be used for your home, your office or perhaps even your home office combo? </p>
            <a href="#more">Read more »</a>
        </div>
    </div>
</div>

        <div class="bz-be-mod-entry">
    <div class="media">
        <div class="media-left">
              <a href="#" class="bz-thumb thumbnail">
                  <img src="http://placehold.it/125x125">
              </a>
        </div>
        <div class="media-body">
            <h4 class="media-heading">Media heading</h4>
            <small>By Diana Soto | In Resources | 2 days ago</small>
            <p>If you are in the market for a computer, there are a number of factors to consider. Will it be used for your home, your office or perhaps even your home office combo? </p>
            <a href="#more">Read more »</a>
        </div>
    </div>
</div>

    </div>
    <footer></footer>
</div>
