<meta charset="utf-8">
<title>Sharepoint Groups Production</title>
<link rel="stylesheet" href="assets/css/bootstrap.min.css" media="screen" title="no title" charset="utf-8">
<link rel="stylesheet" href="assets/css/bootstrap-theme.min.css" media="screen" title="no title" charset="utf-8">
<link rel="stylesheet" href="assets/css/bizagi-font.min.css">
<link rel="stylesheet" href="assets/css/sprite.min.css">
<link rel="stylesheet" href="assets/css/main.min.css">

<script type="text/javascript" src="assets/js/sharepoint.min.js"></script>
