<!DOCTYPE html>
<html>

<head>
    <!-- @import partials/head.html -->
</head>

<body>
    <section id="groupSection" class="groups-section sharepoint">
        <aside class="bz-aside-wrapper bz-aside-short">
            <!-- @import partials/aside.menu.html -->
            <div class="bz-aside-content bz-content-as-menu">
                <!-- @import partials/aside.content.html -->
            </div>
        </aside>
        <div class="bz-right-panel bz-right-short">
            <div class="bz-work-wrapper col-md-12 col-sm-12 col-xs-12">
                <div class="row">
                    <!-- @import partials/header.group.html -->
                </div>
                <div class="row">
                    <div class="col-md-12 bz-full">
                        <!-- @import partials/team.html -->
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 bz-full">
                        <!-- @import partials/recent.documents.html -->
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-7">

                        <!-- @import partials/task.html -->

                        <!-- @import partials/calendar.html -->
                    </div>

                    <div class="col-md-5">
                        <!-- @import partials/blog.entries.html -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet">
</body>

</html>
