<div class="bz-card bz-recent-documents-module">
    <header>
        <h3>Recent Documents</h3>
        <small>Los otros usuarios solo verán los documentos a los que tienen acceso.</small>
    </header>
    <div class="bz-card-content clearfix">
        <ul class="row">
            <li class="col-md-2">
                <div class="bz-document">
  <header>
    <h6>Document Name</h6>
    <div class="bz-document-type bz-word">
      Word
    </div>
    <div class="bz-actions-bar__right"><i class="bz-icon bz-icon-star-outline"></i></div>
  </header>
  <div class="bz-thumb thumbnail"><img src="http://placehold.it/220x150"></div>
  <footer>
    <div class="bz-avatar bz-avatar__small"></div>
    <div class="bz-document-data">
      <span>Felipe Caicedo</span>
      <span>8 de julio</span>
    </div>
  </footer>
</div>

            </li>
            <li class="col-md-2">
                <div class="bz-document">
  <header>
    <h6>Document Name</h6>
    <div class="bz-document-type bz-word">
      Word
    </div>
    <div class="bz-actions-bar__right"><i class="bz-icon bz-icon-star-outline"></i></div>
  </header>
  <div class="bz-thumb thumbnail"><img src="http://placehold.it/220x150"></div>
  <footer>
    <div class="bz-avatar bz-avatar__small"></div>
    <div class="bz-document-data">
      <span>Felipe Caicedo</span>
      <span>8 de julio</span>
    </div>
  </footer>
</div>

            </li>
            <li class="col-md-2">
                <div class="bz-document">
  <header>
    <h6>Document Name</h6>
    <div class="bz-document-type bz-word">
      Word
    </div>
    <div class="bz-actions-bar__right"><i class="bz-icon bz-icon-star-outline"></i></div>
  </header>
  <div class="bz-thumb thumbnail"><img src="http://placehold.it/220x150"></div>
  <footer>
    <div class="bz-avatar bz-avatar__small"></div>
    <div class="bz-document-data">
      <span>Felipe Caicedo</span>
      <span>8 de julio</span>
    </div>
  </footer>
</div>

            </li>
            <li class="col-md-2">
                <div class="bz-document">
  <header>
    <h6>Document Name</h6>
    <div class="bz-document-type bz-word">
      Word
    </div>
    <div class="bz-actions-bar__right"><i class="bz-icon bz-icon-star-outline"></i></div>
  </header>
  <div class="bz-thumb thumbnail"><img src="http://placehold.it/220x150"></div>
  <footer>
    <div class="bz-avatar bz-avatar__small"></div>
    <div class="bz-document-data">
      <span>Felipe Caicedo</span>
      <span>8 de julio</span>
    </div>
  </footer>
</div>

            </li>
            <li class="col-md-2">
                <div class="bz-document">
  <header>
    <h6>Document Name</h6>
    <div class="bz-document-type bz-word">
      Word
    </div>
    <div class="bz-actions-bar__right"><i class="bz-icon bz-icon-star-outline"></i></div>
  </header>
  <div class="bz-thumb thumbnail"><img src="http://placehold.it/220x150"></div>
  <footer>
    <div class="bz-avatar bz-avatar__small"></div>
    <div class="bz-document-data">
      <span>Felipe Caicedo</span>
      <span>8 de julio</span>
    </div>
  </footer>
</div>

            </li>
            <li class="col-md-2">
                <div class="bz-document">
  <header>
    <h6>Document Name</h6>
    <div class="bz-document-type bz-word">
      Word
    </div>
    <div class="bz-actions-bar__right"><i class="bz-icon bz-icon-star-outline"></i></div>
  </header>
  <div class="bz-thumb thumbnail"><img src="http://placehold.it/220x150"></div>
  <footer>
    <div class="bz-avatar bz-avatar__small"></div>
    <div class="bz-document-data">
      <span>Felipe Caicedo</span>
      <span>8 de julio</span>
    </div>
  </footer>
</div>

            </li>
        </ul>
    </div>
    <footer></footer>
</div>
