<div class="bz-card bz-task-module">
    <header>
        <h3>Productivity Task</h3>
        <small>Los otros usuarios solo verán los documentos a los que tienen acceso.</small>
    </header>
    <div class="bz-card-content clearfix">
        <header>
            <h4>Today's Task</h4>
            <small>12 of 34 Task Completed</small>
            <div class="bz-task-md-percent-bar">32%</div>
            <div class="bz-actions-bar__right">
                <a href="#new" class="bz-button bz-button__active">+ New Task</a>
                <a href="#new" class="bz-button">My Tasks</a>
                <a href="#new" class="bz-button">All</a>
            </div>
        </header>
        <ul>
            <li class="row">
                <div class="col-md-8">
                    <h5>Send over all the documentation</h5>
                    <small>Scheduled for 24 Jun, 2016  •  Assigned to Diana Soto  </small>
                    <p>Kind of task: Document  •  Late 10 Days</p>
                </div>
                <div class="col-md-4 bz-col-status">
                  <smal>Status:</smal>
                  <span>In Progress</span>
                </div>
            </li>
        </ul>
    </div>
    <footer></footer>
</div>
