<div class="bz-member">
    <div class="bz-avatar bz-avatar__medium"></div>
    <footer>
        <div class="is-lead">
            <i class="bz-icon bz-icon-star"></i>
            <span>Leader</span>
        </div>
        <h6>Diana Soto</h6>
        <span class="small">Productivity Coordinator</span>
    </footer>
    <div class="bz-member--data">
        <div>
            <h6>Diana Soto</h6>
            <span>Productivity Coordinator</span>
            <hr>
            <p>Diana.Soto@bizagi.com
                <br>Birthdate: 27 April</p>
        </div>
    </div>
</div>
