<div class="bz-card bz-team-module">
    <header>
        <h3>Productivity Team</h3>
        <small>4 members in Productivity Team</small>
        <div class="bz-actions-bar__right"><a href="#about">About the team ›</a></div>
    </header>
    <div class="bz-card-content clearfix">
        <ul class="row">
            <li class="col-md-2">
              <!-- @import partials/team/member.html -->
            </li>
            <li class="col-md-2">
              <!-- @import partials/team/member.html -->
            </li>
            <li class="col-md-2">
              <!-- @import partials/team/member.html -->
            </li>
            <li class="col-md-2">
              <!-- @import partials/team/member.html -->
            </li>
            <li class="col-md-2">
              <!-- @import partials/team/member.html -->
            </li>
            <li class="col-md-2">
              <!-- @import partials/team/member.html -->
            </li>
        </ul>
    </div>

    <footer></footer>
</div>
