<div class="bz-card bz-recent-documents-module">
    <header>
        <h3>Recent Documents</h3>
        <small>Los otros usuarios solo verán los documentos a los que tienen acceso.</small>
    </header>
    <div class="bz-card-content clearfix">
        <ul class="row">
            <li class="col-md-2">
                <!-- @import partials/document/item.document.html -->
            </li>
            <li class="col-md-2">
                <!-- @import partials/document/item.document.html -->
            </li>
            <li class="col-md-2">
                <!-- @import partials/document/item.document.html -->
            </li>
            <li class="col-md-2">
                <!-- @import partials/document/item.document.html -->
            </li>
            <li class="col-md-2">
                <!-- @import partials/document/item.document.html -->
            </li>
            <li class="col-md-2">
                <!-- @import partials/document/item.document.html -->
            </li>
        </ul>
    </div>
    <footer></footer>
</div>
